---
language: python
install:
  - pip install tox
  - pip install -r requirements.txt
  - sudo apt-get -qq update
  - sudo apt-get install -y bsdtar
  - wget -qO- https://releases.hashicorp.com/terraform/0.12.5/terraform_0.12.5_linux_amd64.zip | sudo bsdtar -xvf- -C /usr/bin
  - sudo chmod +x /usr/bin/terraform
script:
  - tox
deploy:
  provider: pages
  skip-cleanup: true
  github-token: "$GITHUB_TOKEN"
  keep-history: true
  local-dir: ".tox/docs/tmp/html/"
  on:
    branch: master
env:
  global:
    secure: L7XvV9ltYjBeCNNUHrNHtMC0QGgJkvy83qCWBVy2VXfXHK9YuvN0qcK/YQlcfKq3VdTNOVFIGC6YKxoRnGbSkqYtGCJtBWE7BJfXq4nQcbqAjsqgtLjh11Un7eIQbybORrDA0/L6Z4UNKH6YCc3kGaX/6S0xLG0ZDDR8ppfb0x5tPqkPTcXh1rzeVCuSVsfCeTH2r5cbaRVIJNtj1w9aylLSujaTAZpHZrdQOvuOBOcflnzqFcjFGZl6h0KM4NYbkXhB3AUtW/T0ARvdFC1SI3JMGszpZcEypoOvyIrcBQsNY7TpUo0c4Dy48qe9rr9xttrZP/3ghVAo2mk8wGG5GQXsCSIbt44A9bfG4s5ZOgoY+evlcfCldxD7kzY9N1rp8r4QqLjMLs642Bj0dG4irnzB62h1Jcy2ipGqTDHdyhMGUad400BkHLis7VIwXtSacv83OO+e5Bi+xReZpfdDOIAK3aWv2QTDTj3R6ZqLQw9wUqgX+mjzFdzKgW3nd4OSbNy6IL5wMCN9QHNsbepmnhRR4YgjBdxTCCjhZbtp4Yol/oXi/Bgoqhjn5uBI2MCebZGqEoa5++0xQ6p7PAEZXWjbek+LCv5ee9pp4mkKZW3u1R9+uIpTN8q5pnqfvNYgOjtHYcA6kjffnpXwo6gFbVOBLk1OO36aFIsD49GMEZs=
