---

- include_role:
    name: ypsman.sshd_config
  vars:
    sshd_PermitRootLogin: 'no'
    sshd_PasswordAuthentication: 'no'
#    sshd_ListenAddress: '0.0.0.0'
  notify: restart sshd

- name: "set addition sshd config attributes"
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{item.regexp}}"
    line: "{{item.line}}"
  with_items:
   - { regexp: "^Protocol", line: "Protocol 2" }
   - { regexp: "^StrictModes", line: "StrictModes yes" }
   - { regexp: "^AllowUsers", line: "AllowUsers {{ sshd_AllowUsers | join(' ') }}" }
   - { regexp: "^MaxAuthTries", line: "MaxAuthTries 1" }
  notify: restart sshd
