&6Welcome, {PLAYER}&6!
&6You will find the Server documentation under:
&c{{ server_page | default("") }}
&6Type &c/help&6 for a list of commands.
&6Type &c/list&6 to see who else is online.
&6Players online:&c {ONLINE} &6- World time:&c {WORLDTIME12}
&6Last Update:&c {{ ansible_date_time.iso8601 }}
