portals:
  technic_world:
    entryfee:
      amount: 0.0
    safeteleport: true
    teleportnonplayers: false
    handlerscript: ''
    owner: nolte07
    location: 4072.0,133.0,-5823.0:4075.0,135.0,-5823.0
    world: world
    destination: e:world_flat:21.0,4.0,6.0:0.0:0.0
  game_hill_village:
    entryfee:
      amount: 0.0
    safeteleport: true
    teleportnonplayers: false
    handlerscript: ''
    owner: nolte07
    location: 16.0,10.0,6.0:19.0,13.0,6.0
    world: world_flat
    destination: e:world:4073.0,132.0,-5820.0:0.0:0.0
  rail_portal:
    entryfee:
      amount: 0.0
    safeteleport: true
    teleportnonplayers: false
    handlerscript: ''
    owner: nolte07
    location: 416.0,4.0,40.0:416.0,8.0,44.0
    world: world_flat
    destination: e:world_flat:441.0,5.0,42.0:0.0:0.0
  newportal:
    entryfee:
      amount: 0.0
    safeteleport: true
    teleportnonplayers: false
    handlerscript: ''
    owner: nolte07
    location: 115.0,4.0,6.0:119.0,8.0,6.0
    world: world_flat
    destination: e:world_survival:-40.0,65.0,37.0:0.0:0.0
  world_city_portal:
    entryfee:
      amount: 0.0
    safeteleport: true
    teleportnonplayers: false
    handlerscript: ''
    owner: nolte07
    location: -41.0,67.0,-8.0:-38.0,71.0,-8.0
    world: world_survival
    destination: e:world:2735.0,23.0,-5934.0:0.0:0.0
  world_castle_city:
    entryfee:
      amount: 0.0
    safeteleport: true
    teleportnonplayers: false
    handlerscript: ''
    owner: nolte07
    location: 3999.0,153.0,-5793.0:4003.0,157.0,-5793.0
    world: world
    destination: e:world:2562.0,96.0,-5869.0:0.0:0.0
  world_city_castle:
    entryfee:
      amount: 0.0
    safeteleport: true
    teleportnonplayers: false
    handlerscript: ''
    owner: nolte07
    location: 2563.0,95.0,-5871.0:2563.0,99.0,-5867.0
    world: world
    destination: e:world:4001.0,154.0,-5795.0:0.0:0.0
  survival_creative_city:
    entryfee:
      amount: 0.0
    safeteleport: true
    teleportnonplayers: false
    handlerscript: ''
    owner: nolte07
    location: -63.0,73.0,5.0:-63.0,77.0,8.0
    world: world_survival
    destination: e:world:2721.0,23.0,-5933.0:0.0:0.0
  creative_city_survival:
    entryfee:
      amount: 0.0
    safeteleport: true
    teleportnonplayers: false
    handlerscript: ''
    owner: nolte07
    location: 2717.0,21.0,-5935.0:2717.0,25.0,-5931.0
    world: world
    destination: e:world_survival:-60.0,74.0,7.0:0.0:0.0
